.show-sidebar{
    display: block;
}

.accordion {
    overflow-anchor: none;
}
.sidebar{
    background-color: #0f292f;
    background-size: cover;
    /* width: 6.5rem; */
    min-height: 100vh;
    /* background-color: #ED2E7A; */
}





.sidebar .nav-item {
    position: relative;
}
.sidebar .nav-item .nav-link {
    position: relative;
    text-align: center;
    padding: .75rem 1rem;
    width: 6.5rem;
}
.sidebar-dark .nav-item .nav-link {
    color: rgb(237, 46, 122, 0.8);
}

@media (min-width: 768px){
.sidebar .nav-item .nav-link {
    /* position: relative; */
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}
}

.sidebar-dark .nav-item.active .nav-link {
    color: #ED2E7A;
}
.sidebar-dark .nav-item.active .nav-link i {
    color: #ED2E7A;
}

@media (min-width: 768px){
.sidebar .nav-item .nav-link i {
    font-size: .85rem;
    margin-right: .25rem;
}
}

.sidebar .nav-item.active .nav-link {
    font-weight: 700;
}

.sidebar .nav-item .nav-link span {
    font-size: .65rem;
    display: block;
}

@media (min-width: 768px){
.sidebar .nav-item .nav-link span {
    font-size: .85rem;
    display: inline;
}
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15);
}
.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar-dark .sidebar-heading {
    color: rgb(237, 46, 122, 0.6);
}


.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;
}
@media (min-width: 768px){
    .sidebar .sidebar-heading {
        text-align: left;
    }
}

@media (min-width: 768px){
.sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
}
}
.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
}


.sidebar .sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
    border-radius: .35rem;
    color: rgba(255,255,255,.8);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,.1);
}

.col {
    color: #501f3a!important;
}


