<div class="container-fluid ">      
  <div class="row">
    <div class="card my-5 col-12">
      <div class="card-body">
        <div class="scroller">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
              <td ><button class="btn btn-default btn-sm" (click)="selectUser(user.id)">
                <i class="fa fa-edit"></i>
              </button> </td>
              <td><button class="btn btn-default btn-sm" (click)="deleteUser(user.id)">
                <i class="fa fa-trash"></i>
              </button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
