<div class="container-fluid">      
  <div class="row">
    <app-sidebar class="col-3 col-md-2 pl-0 side"></app-sidebar>
    <div class="card my-5 col-9 col-md-10">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
